@font-face {
  font-family: 'Routed Gothic';
  src: url('../../assets/fonts/routed-gothic.ttf');
}

@font-face {
  font-family: 'Routed Gothic';
  font-style: oblique;
  src: url('../../assets/fonts/routed-gothic-half-italic.ttf');
}

@font-face {
  font-family: 'Routed Gothic';
  font-style: italic;
  src: url('../../assets/fonts/routed-gothic-italic.ttf');
}
